<!DOCTYPE html>
<html>
<head>
  <title>Succession</title>
  <%= stylesheet_link_tag    "succession/application", :media => "all" %>
  <%= javascript_include_tag "succession/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
